@model Core_Portfolio.Areas.Writer.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Edit Profile Information
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" class="form-control" asp-for="Name"  id="exampleInputName1">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Surname</label>
                    <input type="text" class="form-control" asp-for="Surname" id="exampleInputName1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Password</label>
                    <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword4" >
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Confirm Password</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" id="exampleInputPassword4" >
                </div>
                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" asp-for="Image" >
               @*      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div> *@
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
