@using EntityLayer.Concrete
@model List<Portfolio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Portfolio List Table</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td> @item.PortfolioID </td>
                                    <td> @item.Name </td> 
                                    <td>
                                        <div class="avatar-group">
                            @Html.ActionLink("Delete", "DeletePortfolio", new { id = item.PortfolioID }, new { @class = "btn btn-danger", onclick = "return confirm ('Do you really want to delete it?')" })
                            <a href="/Portfolio/UpdatePortfolio/@item.PortfolioID" class="btn btn-primary"> Update</a>
                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="/Portfolio/AddPortfolio/" class="btn btn-success">  Add New Project</a>
</div>