@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Add New Skill</h3>
</div>
<form class="form-control" method="post">
    <br />
    <br />
    <br />
    <br />
    @Html.Label("New Skill Title:")
-    <br />
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <br />
    @Html.Label("New Skill Value:")
    <br />
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
    <br />
    <button  class="btn btn-primary" id="btnAdd"> Add Skill</button>
</form>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    window.onload = function () {
        document.getElementById("btnAdd").addEventListener("click", function () {
            swal({
                title: "Succesfull!",
                text: "Adding new skill is successful!",
                icon: "success"
            });
        });
    };
</script>
